.header {
  border-bottom: 1px solid #e2e8f0;
  background-color: rgb(23, 23, 23);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
}

.navlogo {
  font-size: 2.1rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: -100%;
  top: 55px;
  flex-direction: column;
  background-color: rgb(23, 23, 23);
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.navmenu.active {
  right: 0;
}

.navitem {
  margin: 1rem 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.navlink {
  font-weight: 200;
  color: white;
  padding: 0.2rem 0.6rem;
}

.borderBottom {
  width: 90%;
  height: 1px;
  margin: 28px 23px 16.5px 24px;
  border: solid 1px #fff;
}

.navTextBottom {
  color: #e77981;
  margin: 1.2rem 0;
  text-align: left;
  padding-left: 1rem;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #e77981;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
