.data {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.head {
  color: indianred;
  font-weight: bold;
  margin: 0px;
}

.global {
  border-top: 1.4px solid lightgray;
  width: 95%;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
