.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 15px 0px 0px 15px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  cursor: pointer;
}

.headList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 95%;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  /* height: 50px; */
}

.showGraph {
  border-left: 3px solid #ff455a;
}

.head {
  color: #ff455a;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.idPackage,
.alertPackage,
.datePackage {
  flex: 1;
}

.datePackage {
  text-align: right;
}
